In [2]:
class Person:
    def __init__(self, pp_size, is_jew, is_virgin, hamas_subscription):
        self.pp_size = pp_size #inches
        self.is_jew = is_jew #bool
        self.is_virgin = is_virgin #bool
        self.hamas_subscription = hamas_subscription #expiration date (m/dd/yyyy)

In [3]:
ben_shapiro = Person(1, True, True, '4/20/2069')
ben_netanyahu = Person (1.4, True, False, 'None')

In [11]:
import pandas as pd

In [23]:
sample = pd.DataFrame({
    'X':[1,2,3,4,5],
    'Y':[1,5,7,3,8]
    })

sample_neg = sample['Y'] * -1
sample_neg

0   -1
1   -5
2   -7
3   -3
4   -8
Name: Y, dtype: int64

In [25]:
sample_2 = pd.DataFrame(sample['X'])
sample_2

   X
0  1
1  2
2  3
3  4
4  5